extends layout

block content 
    
    //- Render all items in a card with flexbox
    .categoryContainer
    h1= category.name
        .categoryItems
            each item in items
                .card(style="width: 18rem;")
                    .card-body
                        h5.card-title #{item.name}
                        h6.card-subtitle.mb-2.text-body-secondary #{item.category.name}
                        p.card-text #{item.description}
                        p.card-text #{item.price}$
                        p.card-text #{item.stock} in stock
                        a.card-link(href=item.url) Check it out!
